<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | Learn how web works</title>
    <meta name="description" content="{{ .Description }}">
    {{ partial "gtmHead.html" . }}
</head>
<body>
  {{ partial "gtmBody.html" . }}
  <header>
    {{ .Title }}
  </header>

  <main>
    {{ block "main" . }}
    {{ end }}
  </main>

  <footer>
    &copy; 2025 Learn Google
  </footer>
</body>
</html>